.icons-bar-h {
    margin-left: -15px !important;
    margin-top: 5px;
}

.icons-bar-h a {
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: white;
    font-size: 18px;
}

.language-bar {
    margin-left: -13px !important;
    margin-top: 5px;
}

.language-bar a {
    text-align: center;
    padding: 4px;
    transition: all 0.3s ease;
    color: white;
    font-size: calc(1.4rem + 1.5vw) !important;
}


.icons-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icons-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icons-bar a:hover {
    color: #3dd5f3;
}

.facebook {
    color: black !important;
}


.google {
    color: black !important;
}

.linkedin {
    color: black !important;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}