@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');


html, body {
    background-color: #000e26;
    /*font-family: Poppins;*/
    height: 100%;
    transition-duration: 1s !important;
    justify-content: center !important;
}

.container-contents {
    max-width: 1200px !important;
}

.codetext {
    font-family: "Source Code Pro";
}

.colsx {
    background-color: black;
    max-width: 25%;
    min-height: 100% !important;
    transition-duration: 1s;
}

.coldx {
    background-color: black;
    color: black;
    padding-top: 100px;
    padding-left: 200px;
    transition-duration: 1s;
}

.coldx-npt {
    background-color: black;
    padding-top: 250px;
    min-height: 100% !important;
    transition-duration: 1s;
}

.welcome {
    font-size: 72pt;
    transition-duration: 1s;
    color: ghostwhite;
}

.bluedot {
    color: #64FFDA;
    font-size: 48pt;
    line-height: 10px;

}

.bluedot-small {
    color: #64FFDA;
    font-size: 32pt;
    line-height: 10px;

}

.gray {
    color: #6e6e6e;
}

.acqua {
    color: #64FFDA !important;
}

.lightblue {
    color: #ccd6f6 !important;
}

.codetext {
    color: #64FFDA;
}

.title {
    color: ghostwhite;

}

.navbar-brand {
    font-weight: 500;
    font-size: 150%;
    color: ghostwhite !important;
}

.description {
    max-width: 1000px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 12pt;
    transition-duration: 1s;
    color: white;
}

.particle {
    position: absolute;
    border-radius: 50%;
}

.navbar {
    padding-left: 100px !important;
    padding-right: 100px !important;
    transition-duration: 1s;
    background-color: initial;
}

.navbar-toggler {
    border: none;
    outline: none;
    color: #212121;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28100, 255, 218, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.subtext {
    font-weight: 600;
    font-size: 18pt;
    color: #ccd6f6;
}

.outline-none {
    outline: none !important;
}

.blurred {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.social-icon {
    color: white;
    transition-duration: 0.5s;
}

.social-icon:hover {
    color: #64FFDA;
}

#section-welcome {
    min-height: 100% !important;
}


#sitemode {
    background-color: #002173;
    fill: white;
    width: 42px;
    height: 42px;
    margin: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-shadow: 0px 5px 0px 0px #001a56;
    display: inline-block;
}


.work-card  {
    background-color: #061b3f !important;
    box-shadow: 0 10px 30px -15px #020c1bb3;
    z-index: 99999;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    border: none;
    margin-top: 50px;
    transition-duration: 1s;
    outline: none;

}

.work-card:hover {
    /*transform: scale(1.1);*/
}

.card-description {
    height: 30px;
}

.card-technologies {
    height: 30px;
    margin-bottom: 15px;
}

.modal-content .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;

}

.carousel-image-project {
    height: 250px;

}

.typewrite {
    text-decoration: none !important;
}

.nav-link {
    color: #ccd6f6 !important;
}

.animoji {
    max-height: 256px;
    background-color: #64FFDA;
    border-radius: 5px;
    box-shadow: 10px 10px 0px 0px #ccd6f6;
}

.row-w75 {
    max-width: 75%;
}

.btn-rounded {
    width: 50px;
    height: 50px;
    outline: none;
    border: 1px solid;
    border-color: #64FFDA;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: 0.5s;
    color: #64FFDA;
}

.btn-rounded-lg {
    padding: 12px 15px 12px 15px;
    outline: none;
    border: 1px solid;
    border-color: #64FFDA;
    background-color: transparent;
    border-radius: 5px;
    transition-duration: 0.5s;
    color: #64FFDA;
}

.btn-rounded:hover {
    background-color: rgba(100,255,218,0.1);
    /* color: black !important; */
}

.btn-rounded-lg:hover {
    background-color: rgba(100,255,218,0.1);
}

.project-icon-big {
    font-size: 2em !important;
}

.title-divider {
    background-color: #64FFDA;
    max-width: 50%;
}

.pt-topcol {
    padding-top: 250px;
}


progress { background-color: #64FFDA !important; border-radius: 0% !important; height: 5px !important; width: 100%;}
progress::-moz-progress-bar { background: #64FFDA !important; }
progress::-webkit-progress-value { background: #64FFDA !important; }

.progress-bar { background-color: #64FFDA !important; border-radius: 0% !important; height: 3px !important;}
.progress { height: 3px; border-radius: 0%; background-color: gray;}
.progress-bar-striped {background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);}


/* NAVBAR TOGGLE */

.navbar-toggler span {
    display: block;
    background-color: #64FFDA;
    height: 3px;
    width: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
    border-radius: 10px;
}


.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
    width: 28px;
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
    width: 21px;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
    width: 35px;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
    width: 25px;
    height: 3px;/* normal 45 deg */
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
    height: 3px;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
    width: 25px;
    height: 3px/* normal -45 deg */
}


/* ANIMATIONS */

/** FadeInUp **/

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.big-button {

    padding: 12px 15px 12px 15px;
    outline: none;
    border: none;
    background-color: #64FFDA;
    border-radius: 5px;
    transition-duration: 0.5s;
    color: black;

}

.ps-35{

    padding-left: 35px;

}

.container-fluid {

    max-width: 800px;

}

/** FadeIn **/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}




/* ANIMATIONS */

@media only screen and (max-width: 600px) {
    .welcome {
        font-size: 36pt;
    }

    .container-contents {
        width: 100% !important;
    }

    .coldx {
        padding-left: 50px;
        padding-top: 50px;
    }

    .coldx-npt {
        padding-left: 50px;
        padding-top: 75px;
    }

    .pt-topcol {
        padding-top: 75px;
    }

    .colsx {
        max-width: 50px;
    }

    .nav-link {
        font-weight: 500 !important;
        text-align: start;
    }

    .navbar {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .navbar-collapse ul {
        height: 100vh;
    }

    .work-card {
        display: inline-block;
        width: 100%;
    }

    .description {
        font-size: 12pt;
    }

    .animoji {
        max-width: 128px;
        max-height: 128px;
        margin-top: 10px;
        margin-left: -50px;
    }

    .row-w75 {
        max-width: 100%;
    }

    .progress {
        width: 100% !important;
    }

    .mml--50 {
        margin-left: -50px;
    }

    .title-divider {
        background-color: #64FFDA;
        max-width: 75%;
    }

    .carousel-image-project {
        height: 160px;

    }

}