.particle-container {
   opacity: 0% !important;
}

.particle-dark {
    position: fixed;
    border-radius: 50%;
}

@-webkit-keyframes particle-dark-animation-1 {
    100% {
        transform: translate3d(17vw, 86vh, 72px);
    }
}

@keyframes particle-dark-animation-1 {
    100% {
        transform: translate3d(17vw, 86vh, 72px);
    }
}
.particle-dark:nth-child(1) {
    -webkit-animation: particle-dark-animation-1 60s infinite;
    animation: particle-dark-animation-1 60s infinite;
    opacity: 0.25;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    transform: translate3d(41vw, 21vh, 55px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-2 {
    100% {
        transform: translate3d(62vw, 10vh, 27px);
    }
}

@keyframes particle-dark-animation-2 {
    100% {
        transform: translate3d(62vw, 10vh, 27px);
    }
}
.particle-dark:nth-child(2) {
    -webkit-animation: particle-dark-animation-2 60s infinite;
    animation: particle-dark-animation-2 60s infinite;
    opacity: 0.06;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    transform: translate3d(12vw, 4vh, 40px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-3 {
    100% {
        transform: translate3d(10vw, 30vh, 71px);
    }
}

@keyframes particle-dark-animation-3 {
    100% {
        transform: translate3d(10vw, 30vh, 71px);
    }
}
.particle-dark:nth-child(3) {
    -webkit-animation: particle-dark-animation-3 60s infinite;
    animation: particle-dark-animation-3 60s infinite;
    opacity: 0.44;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    transform: translate3d(19vw, 11vh, 96px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-4 {
    100% {
        transform: translate3d(47vw, 10vh, 67px);
    }
}

@keyframes particle-dark-animation-4 {
    100% {
        transform: translate3d(47vw, 10vh, 67px);
    }
}
.particle-dark:nth-child(4) {
    -webkit-animation: particle-dark-animation-4 60s infinite;
    animation: particle-dark-animation-4 60s infinite;
    opacity: 0.7;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    transform: translate3d(58vw, 61vh, 91px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-5 {
    100% {
        transform: translate3d(80vw, 63vh, 54px);
    }
}

@keyframes particle-dark-animation-5 {
    100% {
        transform: translate3d(80vw, 63vh, 54px);
    }
}
.particle-dark:nth-child(5) {
    -webkit-animation: particle-dark-animation-5 60s infinite;
    animation: particle-dark-animation-5 60s infinite;
    opacity: 0.32;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: translate3d(33vw, 63vh, 51px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-6 {
    100% {
        transform: translate3d(18vw, 2vh, 97px);
    }
}

@keyframes particle-dark-animation-6 {
    100% {
        transform: translate3d(18vw, 2vh, 97px);
    }
}
.particle-dark:nth-child(6) {
    -webkit-animation: particle-dark-animation-6 60s infinite;
    animation: particle-dark-animation-6 60s infinite;
    opacity: 0.85;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    transform: translate3d(11vw, 26vh, 29px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-7 {
    100% {
        transform: translate3d(48vw, 13vh, 41px);
    }
}

@keyframes particle-dark-animation-7 {
    100% {
        transform: translate3d(48vw, 13vh, 41px);
    }
}
.particle-dark:nth-child(7) {
    -webkit-animation: particle-dark-animation-7 60s infinite;
    animation: particle-dark-animation-7 60s infinite;
    opacity: 0.22;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    transform: translate3d(82vw, 5vh, 88px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-8 {
    100% {
        transform: translate3d(68vw, 32vh, 38px);
    }
}

@keyframes particle-dark-animation-8 {
    100% {
        transform: translate3d(68vw, 32vh, 38px);
    }
}
.particle-dark:nth-child(8) {
    -webkit-animation: particle-dark-animation-8 60s infinite;
    animation: particle-dark-animation-8 60s infinite;
    opacity: 0.7;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    transform: translate3d(32vw, 70vh, 39px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-9 {
    100% {
        transform: translate3d(64vw, 27vh, 8px);
    }
}

@keyframes particle-dark-animation-9 {
    100% {
        transform: translate3d(64vw, 27vh, 8px);
    }
}
.particle-dark:nth-child(9) {
    -webkit-animation: particle-dark-animation-9 60s infinite;
    animation: particle-dark-animation-9 60s infinite;
    opacity: 0.73;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    transform: translate3d(86vw, 27vh, 36px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-10 {
    100% {
        transform: translate3d(1vw, 83vh, 87px);
    }
}

@keyframes particle-dark-animation-10 {
    100% {
        transform: translate3d(1vw, 83vh, 87px);
    }
}
.particle-dark:nth-child(10) {
    -webkit-animation: particle-dark-animation-10 60s infinite;
    animation: particle-dark-animation-10 60s infinite;
    opacity: 0.21;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: translate3d(22vw, 80vh, 32px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-11 {
    100% {
        transform: translate3d(42vw, 14vh, 79px);
    }
}

@keyframes particle-dark-animation-11 {
    100% {
        transform: translate3d(42vw, 14vh, 79px);
    }
}
.particle-dark:nth-child(11) {
    -webkit-animation: particle-dark-animation-11 60s infinite;
    animation: particle-dark-animation-11 60s infinite;
    opacity: 0.55;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    transform: translate3d(61vw, 42vh, 91px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-12 {
    100% {
        transform: translate3d(27vw, 66vh, 85px);
    }
}

@keyframes particle-dark-animation-12 {
    100% {
        transform: translate3d(27vw, 66vh, 85px);
    }
}
.particle-dark:nth-child(12) {
    -webkit-animation: particle-dark-animation-12 60s infinite;
    animation: particle-dark-animation-12 60s infinite;
    opacity: 0.66;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    transform: translate3d(29vw, 53vh, 32px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-13 {
    100% {
        transform: translate3d(41vw, 52vh, 60px);
    }
}

@keyframes particle-dark-animation-13 {
    100% {
        transform: translate3d(41vw, 52vh, 60px);
    }
}
.particle-dark:nth-child(13) {
    -webkit-animation: particle-dark-animation-13 60s infinite;
    animation: particle-dark-animation-13 60s infinite;
    opacity: 0.45;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    transform: translate3d(55vw, 71vh, 36px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-14 {
    100% {
        transform: translate3d(25vw, 53vh, 9px);
    }
}

@keyframes particle-dark-animation-14 {
    100% {
        transform: translate3d(25vw, 53vh, 9px);
    }
}
.particle-dark:nth-child(14) {
    -webkit-animation: particle-dark-animation-14 60s infinite;
    animation: particle-dark-animation-14 60s infinite;
    opacity: 0.27;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    transform: translate3d(45vw, 68vh, 3px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-15 {
    100% {
        transform: translate3d(8vw, 68vh, 34px);
    }
}

@keyframes particle-dark-animation-15 {
    100% {
        transform: translate3d(8vw, 68vh, 34px);
    }
}
.particle-dark:nth-child(15) {
    -webkit-animation: particle-dark-animation-15 60s infinite;
    animation: particle-dark-animation-15 60s infinite;
    opacity: 0.32;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: translate3d(82vw, 70vh, 6px);
    background: #64FFDA;
}

@-webkit-keyframes particle-dark-animation-16 {
    100% {
        transform: translate3d(71vw, 83vh, 20px);
    }
}

@keyframes particle-dark-animation-16 {
    100% {
        transform: translate3d(71vw, 83vh, 20px);
    }
}
.particle-dark:nth-child(16) {
    -webkit-animation: particle-dark-animation-16 60s infinite;
    animation: particle-dark-animation-16 60s infinite;
    opacity: 0.68;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    transform: translate3d(71vw, 40vh, 57px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-17 {
    100% {
        transform: translate3d(43vw, 12vh, 17px);
    }
}

@keyframes particle-dark-animation-17 {
    100% {
        transform: translate3d(43vw, 12vh, 17px);
    }
}
.particle-dark:nth-child(17) {
    -webkit-animation: particle-dark-animation-17 60s infinite;
    animation: particle-dark-animation-17 60s infinite;
    opacity: 0.3;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    transform: translate3d(53vw, 74vh, 38px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-18 {
    100% {
        transform: translate3d(9vw, 6vh, 43px);
    }
}

@keyframes particle-dark-animation-18 {
    100% {
        transform: translate3d(9vw, 6vh, 43px);
    }
}
.particle-dark:nth-child(18) {
    -webkit-animation: particle-dark-animation-18 60s infinite;
    animation: particle-dark-animation-18 60s infinite;
    opacity: 0.21;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    transform: translate3d(33vw, 1vh, 71px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-19 {
    100% {
        transform: translate3d(84vw, 70vh, 74px);
    }
}

@keyframes particle-dark-animation-19 {
    100% {
        transform: translate3d(84vw, 70vh, 74px);
    }
}
.particle-dark:nth-child(19) {
    -webkit-animation: particle-dark-animation-19 60s infinite;
    animation: particle-dark-animation-19 60s infinite;
    opacity: 0.64;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    transform: translate3d(90vw, 62vh, 21px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-20 {
    100% {
        transform: translate3d(82vw, 17vh, 54px);
    }
}

@keyframes particle-dark-animation-20 {
    100% {
        transform: translate3d(82vw, 17vh, 54px);
    }
}
.particle-dark:nth-child(20) {
    -webkit-animation: particle-dark-animation-20 60s infinite;
    animation: particle-dark-animation-20 60s infinite;
    opacity: 0.93;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: translate3d(61vw, 59vh, 97px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-21 {
    100% {
        transform: translate3d(62vw, 13vh, 46px);
    }
}

@keyframes particle-dark-animation-21 {
    100% {
        transform: translate3d(62vw, 13vh, 46px);
    }
}
.particle-dark:nth-child(21) {
    -webkit-animation: particle-dark-animation-21 60s infinite;
    animation: particle-dark-animation-21 60s infinite;
    opacity: 0.07;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    transform: translate3d(34vw, 21vh, 97px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-22 {
    100% {
        transform: translate3d(24vw, 84vh, 70px);
    }
}

@keyframes particle-dark-animation-22 {
    100% {
        transform: translate3d(24vw, 84vh, 70px);
    }
}
.particle-dark:nth-child(22) {
    -webkit-animation: particle-dark-animation-22 60s infinite;
    animation: particle-dark-animation-22 60s infinite;
    opacity: 0.32;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    transform: translate3d(36vw, 1vh, 54px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-23 {
    100% {
        transform: translate3d(36vw, 73vh, 72px);
    }
}

@keyframes particle-dark-animation-23 {
    100% {
        transform: translate3d(36vw, 73vh, 72px);
    }
}
.particle-dark:nth-child(23) {
    -webkit-animation: particle-dark-animation-23 60s infinite;
    animation: particle-dark-animation-23 60s infinite;
    opacity: 0.43;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    transform: translate3d(48vw, 72vh, 91px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-24 {
    100% {
        transform: translate3d(8vw, 79vh, 83px);
    }
}

@keyframes particle-dark-animation-24 {
    100% {
        transform: translate3d(8vw, 79vh, 83px);
    }
}
.particle-dark:nth-child(24) {
    -webkit-animation: particle-dark-animation-24 60s infinite;
    animation: particle-dark-animation-24 60s infinite;
    opacity: 0.5;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    transform: translate3d(68vw, 48vh, 77px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-25 {
    100% {
        transform: translate3d(60vw, 71vh, 58px);
    }
}

@keyframes particle-dark-animation-25 {
    100% {
        transform: translate3d(60vw, 71vh, 58px);
    }
}
.particle-dark:nth-child(25) {
    -webkit-animation: particle-dark-animation-25 60s infinite;
    animation: particle-dark-animation-25 60s infinite;
    opacity: 0.56;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    transform: translate3d(9vw, 27vh, 5px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-26 {
    100% {
        transform: translate3d(89vw, 52vh, 66px);
    }
}

@keyframes particle-dark-animation-26 {
    100% {
        transform: translate3d(89vw, 52vh, 66px);
    }
}
.particle-dark:nth-child(26) {
    -webkit-animation: particle-dark-animation-26 60s infinite;
    animation: particle-dark-animation-26 60s infinite;
    opacity: 0.12;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    transform: translate3d(47vw, 48vh, 32px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-27 {
    100% {
        transform: translate3d(5vw, 55vh, 82px);
    }
}

@keyframes particle-dark-animation-27 {
    100% {
        transform: translate3d(5vw, 55vh, 82px);
    }
}
.particle-dark:nth-child(27) {
    -webkit-animation: particle-dark-animation-27 60s infinite;
    animation: particle-dark-animation-27 60s infinite;
    opacity: 0.09;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    transform: translate3d(46vw, 66vh, 16px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-28 {
    100% {
        transform: translate3d(56vw, 8vh, 7px);
    }
}

@keyframes particle-dark-animation-28 {
    100% {
        transform: translate3d(56vw, 8vh, 7px);
    }
}
.particle-dark:nth-child(28) {
    -webkit-animation: particle-dark-animation-28 60s infinite;
    animation: particle-dark-animation-28 60s infinite;
    opacity: 0.89;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    transform: translate3d(77vw, 35vh, 44px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-29 {
    100% {
        transform: translate3d(63vw, 78vh, 71px);
    }
}

@keyframes particle-dark-animation-29 {
    100% {
        transform: translate3d(63vw, 78vh, 71px);
    }
}
.particle-dark:nth-child(29) {
    -webkit-animation: particle-dark-animation-29 60s infinite;
    animation: particle-dark-animation-29 60s infinite;
    opacity: 0.26;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    transform: translate3d(8vw, 36vh, 28px);
    background: #ffffff;
}

@-webkit-keyframes particle-dark-animation-30 {
    100% {
        transform: translate3d(87vw, 44vh, 86px);
    }
}

@keyframes particle-dark-animation-30 {
    100% {
        transform: translate3d(87vw, 44vh, 86px);
    }
}
.particle-dark:nth-child(30) {
    -webkit-animation: particle-dark-animation-30 60s infinite;
    animation: particle-dark-animation-30 60s infinite;
    opacity: 0.21;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    transform: translate3d(33vw, 76vh, 29px);
    background: #ffffff;
}